// Place all the styles related to the public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-form{
  width:70px;
  height:70px;
  line-height:70px;
  font-size:20px;
  text-align:center;
  border-radius:50%;
  font-weight:bold;
  background-color:#D0C2BA;
  color:black;
  margin:0px 30px;

}
.nav .current{
  background-image: image-url('masterball.png');
  background-size: cover;
}

.nav{
  display:flex;
  justify-content:center;
  margin-bottom:10px;
}
.arrow{
  text-align:center;
  height:70px;
  line-height:70px;
  font-size: 35px;
}
