<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-center mt-5 mb-5">
        <h1>ようこそ、ながのCAKEへ</h1>
      </div>
    </div>
  </div>
</div>
<div class="text-box">
  <h6 class="text-center">
    このサイトはながのCAKE自慢のデザートをお取り寄せできる通販サイトです。<br>
    お誕生日など特別な日のお祝いや、ギフトとしていかがでしょうか。<br>
    ＊購入には会員登録が必要となります。
  </h6>
</div>