<div class="container">
  <div class="row p-5">
    <div class="col-2 p-2">
      <%= render "public/items/genre", genre: @genres %>
    </div>
    <div class="col-10">
      <div class="box">
        <div>
          <h2>ようこそ、ながのCAKEへ</h2>
          <p>
            このサイトはながのCAKE自慢のデザートをお取り寄せできる通販サイトです。<br>
            お誕生日など特別な日のお祝いや、ギフトとしていかがでしょうか。<br>
            ＊購入には会員登録が必要となります。
          </p>
        </div>
      </div>
      <h2>新着商品</h2>
      <div class="container">
        <div class="row "></div>
      </div>
    </div>
  </div>
</div>


