<ol class="nav">
	<li class="nav-form">入力</li>
	<li class="arrow"><i class="fas fa-arrow-right"></i></li>
	<li class="nav-form">確認</li>
	<li class="arrow"><i class="fas fa-arrow-right"></i></li>
	<li class="nav-form current">完了</li>
</ol>

<h3 class="mt-5 text-center">
  ご注文いただきありがとうございました。<br>
  またのご利用を心よりお待ちしております!
</h3>