<div class="family">
<ol class="nav mt-3">
	<li class="nav-form">入力</li>
	<li class="arrow text-white">→</li>
	<li class="nav-form">確認</li>
	<li class="arrow text-white">→</li>
	<li class="nav-form current" style="background-color: #000000;"></li>
</ol>
<div class=" mx-auto text-center">
<h3 class="mt-5 text-white" style="background-color: #343a40; opacity: 0.8;">
  ご注文いただきありがとうございました。<br>
  またのご利用を心よりお待ちしております!
</h3>
</div>
</div>